@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Work+Sans:ital,wght@0,400;0,600;1,700&display=swap');

*{
    box-sizing: border-box;
}
.header{
    position:fixed;
    top:70%;
    left:0;
    display:fixed;
    width:100%;
    padding: 1px 16px;
    background-color: transparent;
}

.list_box{
 width: 30x;
 margin-right: auto;
 margin-left: 50%;
 text-align: left;


}

.menu_bottom{
    margin-left: 90%;
    width:60px;
    height:60px;
    padding: 2px;
    border: 1px;
    border-radius: 50%;
    margin-top: 10%;
    
}  

.menu{
    position:absolute;
    right: 10px;
    width: 400px;
    bottom: 70px;
    padding: 25px;
    background-color:rgb(255, 255, 255);
    border: 4px solid cornflowerblue;
    border-radius: 10px;
     opacity: 0;  
    transform: transLateY(-10px);
    visibility: hidden; 
    transition: 0.3s;
}


.menu.active{
    transform: transLateY(0);
    opacity:1;
    visibility: visible;
}

.menu_list{
    margin:0;
    width: 100%;
    padding: 0;
    list-style-type: none;
}

.menu_item:nth-child(n+1){
    margin-top: 10px;
}

.menu_item{
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor:pointer;

}

.bottom_box{  
    position: absolute;
    height: 130px;
    width: 35%;
    /* border: 1px solid rgb(43, 4, 52); */
    bottom:35px;
}

.bottom_box_move1{
    display:inline-flex; 
    /* border: 1px solid black; */
    height:50%;
    width: 100%;
    margin-top: 10px; 
 }

 .bottom_box_Up{
    border: 1px solid rgb(255, 255, 255);
    margin-right:16px;
    height:50px;
    width:50px;
    display:flex;
    justify-content: space-around;
}

.button_Up{
    cursor:pointer;
    width:100%;
    display: inline-block;

}


.bottom_box_Down{
    margin-left:20px;
    height:50px;
    width:50px;
    display:flex;
    justify-content: space-around;
    }

.bottom_box_move{
    display:inline-flex;
    height:50%;
    width: 100%;
    /* border: 1px solid purple;  */
    margin-top: 10px;
    }

.bottom_box_Speed{
    border: 1px solid rgb(255, 255, 255);
    margin-right:15px;
    height:50px;
    width:50px;
    display:flex;
    justify-content: space-around;
}

.bottom_box_Slow{
    border: 1px solid rgb(255, 255, 255);
    margin-left:20px;
    height:50px;
    width:50px;
    display:flex;
    justify-content: space-around;
    }
.button_Slow{
    display:flex;
    border:none;
    color:inherit;
}

.height{
    position:absolute;
    top:1px;
    left:70px;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    cursor:pointer;
}
.speed{
    position: absolute;
    bottom: -7px;
    left:70px;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    cursor:pointer;
}