
*{
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: sans-serif;
}

.Home_component_header{
    display: flex;
    justify-content: left;
    padding: 100px;
    align-items: center;
   
    height: 100vh;

}

.Home_component{
  height: 100vh;
}

.planet img{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
}
.satelite img{
    height: 200px;
    width: 200px;
    background: transparent;
    transform: rotate(-90deg);
  }
  
  .spin_right {
    animation: spin-right 240s infinite linear;
  }

  .spin_left{
    animation: spin-left 240s infinite linear;
  
  }
  .spin_onSome{
    animation: spin-left 120s infinite linear;
    transform-origin: -80% center;
  }

  @keyframes spin-right {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes spin-left {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }